<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Create your own team.</title>
    <style>
        .jumbotron {
            background-color: #f45838;
            color: #fff;
        }
    </style>
</head>
<body>

<div class="jumbotron text-center">
    <h1>Create your own team</h1>
    <p>Wow~ Fantastic!</p>
</div>

<!--team name input-->
<div>
    <label for="teamname">Now, give your team a name:</label>
    <input type="text" class="form-control" id="teamname" name="teamname">
</div>

<!--team type input-->
<div>
    <label for="teamtype">What's the type of your team?:</label>
    <select class="form-control" id="teamtype" name="teamtype">
        <option>Basketball</option>
        <option>Football</option>
        <option>Tennis</option>
        <option>Volleyball</option>
    </select>
</div>

<!--team description input-->
<div>
    <label for="description">Description:</label>
    <textarea class="form-control" rows="5" id="description"></textarea>
</div>
<div class="checkbox">
    <label><input type="checkbox" value="">Do you want your team to be public?</label>
</div>

<!--notice-->
<h1>Notice: Your team has
    <mark>limited</mark>
    number of team members (up to 20)!
</h1>

<!--team icon input-->
<div>
    <p>upload your team icon:</p>
    <input type="file" onchange="previewFile()"><br>
    <img src="" height="400">
    <script>
        function previewFile() {
            let preview = document.querySelector('img');
            let file = document.querySelector('input[type=file]').files[0];
            let reader = new FileReader();

            reader.addEventListener("load", function () {
                preview.src = reader.result;
            }, false);
            if (file) {
                reader.readAsDataURL(file);
            }
        }
    </script>
</div>
<a href='/groupchat'>redirect</a>

<div>
    <button type="submit" class="btn btn-default" data-toggle="modal" data-target="#myModal"
            onclick="getTeamName()">Create
    </button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    Are you sure to create your <p style="display:inline" id="teamname_display"></p> team?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="float:left"
                            onclick="createTeam()">yes
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="float:right">no</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function getTeamName() {
        document.getElementById("teamname_display").innerHTML = document.getElementById("teamname").value;
    }

    function createTeam() {
        const extractval = (id) => {
            const val = document.getElementById(id).value
            document.getElementById(id).value = ""
            return val
        }

        const extractvalfromselect = (id) => {
            const select = document.getElementById(id);
            return select.options[select.selectedIndex].innerHTML;
        }

        const json = {
            'name': extractval('teamname'),
            'type': extractvalfromselect('teamtype'),
            'description': extractval('description')
        }

        $.ajax({
            type: 'POST',
            url: '/createTeam',
            data: json,
            dataType: "json",
            success: function(data){
                if (data.redirect){
                    window.location.href = data.redirect
                } else {
                    console.log("error")
                }
            },
        })

    }
    // function redirect(url, method) {
    //     createTeam();
    //     let form = document.createElement('form');
    //     form.method = method;
    //     form.action = url;
    //     form.submit();
    // }
</script>
</body>
</html>
