<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Welcome to Sporganize.</title>
    <style>
        .jumbotron {
            background-color: #f45838;
            color: #fff;
        }
    </style>
</head>
<body>

<div class="jumbotron text-center" style="background-color:fuchsia;">
    <h1>Sporganize</h1>
    <p> The best solution of managing sport events.</p>
</div>

<div class="container">
    <h3>No account yet? Easy Registration here.</h3>

</div>

<div class="container">
    <h3>Already has an account?</h3>
    <form id="Login_Area" class="form-horizontal" method="post" >
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Email:</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Password:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Enter password">
            </div>
        </div>
        <!--<div class="form-group">-->
            <!--<div class="col-sm-offset-2 col-sm-10">-->
                <!--<div class="checkbox">-->
                    <!--<label><input type="checkbox"> Remember me</label>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default" onclick="getUsername()">Submit</button>
            </div>
        </div>
    </form>
    <script>
        function getUsername(){
            let form = document.getElementById("Login_Area");
            return form.action = "/login/"+document.getElementById("email").value;
        }
    </script>
</div>
</body>
</html>
