<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Welcome to Sporganize.</title>
    <style>
        .jumbotron {
            background-color: #f45838;
            color: #fff;
        }
        /* Container holding the image and the text */
        .containimage {
            position: relative;
            text-align: center;
            color: white;
        }
        /* Centered text */
        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        /* index */
    </style>
</head>
<body>
<div class="containimage">
<img src="http://www.sportq.com/img/pc_index_hd.jpg" height="300px" width="100%">
    <div class="centered">
        <p style="font-size: 100px">Sporganize</p>
        <p> The best solution of managing sport events.</p>

    </div>
</div>

<div class="container">
    <h3>No account yet? Easy <a href="" data-toggle="modal" data-target="#myModal">Registration</a> here.</h3>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="text-align: center">Registration</h4>
                </div>
                <div class="modal-body" align="center">
                    <div>
                        <label class="control-label">Email:</label><br>
                        <input class="placeholder-no-fix" type="text" maxlength="12" placeholder="example@gmail.com" id="UserEmail" name="useremail" onkeyup="value=value.replace(/[^\w\.\/]/ig,'')" autofocus />
                    </div>
                    <div>
                        <label class="control-label">Password:</label><br>
                        <input type="text" maxlength="12" placeholder="Password" id="UserEmail" name="useremail" onkeyup="value=value.replace(/[^\w\.\/]/ig,'')" autofocus />
                    </div>
                    <div>
                        <label class="control-label">First Name:</label><br>
                        <input type="text" maxlength="12" placeholder="First Name" id="UserEmail" name="useremail" onkeyup="value=value.replace(/[^\w\.\/]/ig,'')" autofocus />
                    </div>
                    <div>
                        <label class="control-label">Surname:</label><br>
                        <input type="text" maxlength="12" placeholder="Surname" id="UserEmail" name="useremail" onkeyup="value=value.replace(/[^\w\.\/]/ig,'')" autofocus />
                    </div>
                    <div>
                        <label class="control-label">Gender:</label><br>
                        <input type="text" maxlength="12" placeholder="Email" id="UserEmail" name="useremail" onkeyup="value=value.replace(/[^\w\.\/]/ig,'')" autofocus />
                    </div>
                    <div>
                        <label class="control-label">Birthday:</label><br>
                        <input type="text" maxlength="12" placeholder="Email" id="UserEmail" name="useremail" onkeyup="value=value.replace(/[^\w\.\/]/ig,'')" autofocus />
                    </div>
                    <div>
                        <label class="control-label">Mobile Number:</label><br>
                        <input type="text" maxlength="12" placeholder="Mobile Number" id="UserEmail" name="useremail" onkeyup="value=value.replace(/[^\w\.\/]/ig,'')" autofocus />
                    </div>
                </div>
                <div class="modal-footer">
                    <div align="center">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Register Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h3>Already has an account?</h3>
    <form id="Login_Area" class="form-horizontal" method="post">
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Email:</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Password:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Enter password">
            </div>
        </div>
        <!--<div class="form-group">-->
            <!--<div class="col-sm-offset-2 col-sm-10">-->
                <!--<div class="checkbox">-->
                    <!--<label><input type="checkbox"> Remember me</label>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default" onclick="getUsername()">Submit</button>
            </div>
        </div>
    </form>
    <script>
        function getUsername(){
            let form = document.getElementById("Login_Area");
            return form.action = "/login/"+document.getElementById("email").value;
        }
    </script>
</div>
</body>
</html>
